{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <title>Pinocchio's</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fonts/beyond_the_mountains-webfont.css' %}" type="text/css"/>

        <!-- Stylesheets -->
        <link href="{% static 'plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugin-frameworks/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/ionicons.css' %}" rel="stylesheet">
        <link href="{% static 'common/styles.css' %}" rel="stylesheet">
</head>
<body>

<header class="login">
        <div class="container">
                <a class="logo" href="#"><img src="{% static 'images/heading_logo.png' %}" alt="Logo"></a>
                <div class="clearfix"></div>
        </div><!-- container -->
</header>


<section class="bg-9 h-900x main-slider pos-relative">
        <!-- <div class="triangle-up pos-bottom"></div> -->
        <div class="container h-100x">
                <div class="dplay-tbl">
                        <div class="center-text color-white" style="padding: 0%">
                                <h2 class="mt-30">Register</h2>
                        </div><!-- dplay-tbl-cell -->
                        <br><br><br>
                        <div class="center-text color-white" style="padding-left: 20%; padding-right: 20%;">
                                <form action="{% url 'register_view_post' %}" method="post" autocomplete="off">
                                        {% csrf_token %}
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                                        </div>
                                        <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Username" name="username" required>
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                                        </div>
                                        <div class="form-group">
                                                <label>First name*</label>
                                                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="First name" name="firstname">
                                        </div>
                                        <div class="form-group">
                                                <label>Last name*</label>
                                                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Last name" name="lastname">
                                        </div>
                                        <small>* = optional</small>
                                        <br><br>
                                        <button type="submit" class="btn btn-primary">Create account</button>
                                        <br>
                                </form>
                                {% if message %}
                                        <br>
                                        <span class="warning">{{ message }}</span>
                                        <br>
                                {% endif %}
                                <br>
                                <a href="{% url 'login_view_get' %}">Already have an account? Login.</a>
                        </div>
                </div><!-- dplay-tbl -->
        </div><!-- container -->
        
</section>



<!-- SCIPTS -->
<script src="{% static 'plugin-frameworks/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'plugin-frameworks/bootstrap.min.js' %}"></script>
<script src="{% static 'plugin-frameworks/swiper.js' %}"></script>
<script src="{% static 'common/scripts.js' %}"></script>
</body>
</html>